<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Add absence</h3>
                </div>
                <form>
                    <div class="row">
                        <div class="col-md-6" style="margin: auto;">
                            <div class="form-group">
                                <input type="date" class="form-control" id="nomDepartement" required
                                    formControlName="nomDepartement" placeholder="Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin: auto;">
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="test">ali ben salah</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-md-6" style="margin: auto;">
                            <div class="form-group" style="display: flex; justify-content: center;">
                                <button type="button" type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>