<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Users</h3>
                    <a class="nav-link" routerLink="/add_user">
                        <button type="button" class="btn btn-success">Add User</button>
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Department</th>
                                <th scope="col">actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users;">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">{{user.firstName}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    {{user.lastName}}
                                </td>
                                <td>
                                    {{user.email}}
                                </td>
                                <td>
                                    {{user.role}}
                                </td>
                                <td>
                                    <div *ngFor="let d of departments">
                                        <div *ngIf="d.departmentId===user.departementid">
                                            {{d.departmentName}}
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <div class="text-right">
                                        <button class="btn btn-info"> Edit
                                        </button>
                                  
                                        <button class="btn btn-info" (click)="addabsence(user.userId)"> Add absence
                                        </button>
                                        <button class="btn btn-danger" (click)="deleteUser(user.userId)">
                                            Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>