<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Absences</h3>
                    <a class="nav-link" routerLink="/add_absence">
                        <button type="button" class="btn btn-success">Add Absence</button>
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">

                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">user</th>
                                <th scope="col">date</th>
                                <th scope="col" class="text-right">Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let absence of absences;">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">{{absence.id}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    {{absence.user.firstName}} - {{absence.user.lastName}}
                                </td>
                                <td>
                                    <div class="text-right">
                                        <button class="btn btn-info"> edit</button>
                                        <button class="btn btn-danger"> delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>