<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Add User</h3>
                </div>
                <form #FAddCategory="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6" style="margin: auto;">
                            <div class="form-group">
                                <input type="text" class="form-control" id="firstName" placeholder="firstName"
                                [(ngModel)]="user.firstName" name="firstName" required #fn="ngModel">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin: auto;">
                            <div class="form-group">
                                <input type="text" class="form-control" id="lastName" placeholder="lastName"
                                [(ngModel)]="user.lastName" name="lastName" required #fn="ngModel">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin: auto;">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="email"
                                [(ngModel)]="user.email" name="email" required #fn="ngModel">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin: auto;">
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" placeholder="password"
                                [(ngModel)]="user.password" name="password" required #fn="ngModel">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin: auto;">
                            <label>Role : </label>
                            <select name="category" class="form-control" [(ngModel)]="categoryId" #fn="ngModel">
                                <option value="" selected  name="categoryId"></option>
                                <option *ngFor="let category of options" [value]="category.name">
                                    {{category.name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6" style="margin: auto;">
                            <label>Departments </label>
                            <select name="department"  class="form-control" [(ngModel)]="departmentId" #fn="ngModel">
                                <option value="" selected  name="departmentId"></option>
                                <option *ngFor="let category of departments" [value]="category.departmentId">
                                    {{category.departmentName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin: auto;">
                            <div class="form-group" style="display: flex; justify-content: center;">
                                <button class="btn btn-success"  [disabled]="FAddCategory.invalid">Save</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>